<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name = "hibernate.dialect">
            org.hibernate.dialect.MySQL5Dialect
        </property>

        <property name = "hibernate.connection.driver_class">
            com.mysql.jdbc.Driver
        </property>

        <property name = "hibernate.connection.url">
            jdbc:mysql://localhost:3308/company_base?&amp;useUnicode=true&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC        </property>

        <property name = "hibernate.connection.username">
            user
        </property>

        <property name = "hibernate.connection.password">
            password
        </property>
        
        <property name="hibernate.hbm2ddl.auto">
            create
        </property>

        <property name = "hibernate.show_sql">true</property>

        <!-- List of XML mapping files -->
        <mapping class="company.employees.details.FirstName"/>
        <mapping class="company.employees.details.Country"/>
        <mapping class="company.employees.details.Email"/>
        <mapping class="company.employees.details.LastName"/>
        <mapping class="company.employees.details.University"/>
        <mapping class="company.employees.AbstractEmployee"/>
        <mapping class="company.employees.EmployeeList"/>
        <mapping class="company.managers.TeamManager"/>
        <mapping class="company.predicates.PredicateInfo"/>
        <mapping class="company.tasks.Task"/>
        <mapping class="company.tasks.TaskList"/>
        <mapping class="company.employees.Developer"/>
    </session-factory>
</hibernate-configuration>